<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yucong.tetris">

    <application
        android:name="org.litepal.LitePalApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name="com.example.yucong.tetris.chrislee.tetris.ActivityMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".chrislee.tetris.BaseActivity"/>
        <activity android:name="com.example.yucong.tetris.chrislee.tetris.ActivityHelp" />
        <activity android:name="com.example.yucong.tetris.chrislee.tetris.ActivityRank" />
        <activity android:name="com.example.yucong.tetris.chrislee.tetris.ActivityGame"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".chrislee.tetris.GameOver"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".chrislee.tetris.HomePage"/>
        <activity android:name=".chrislee.tetris.AboutActivity"/>

    </application>



</manifest>