<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yucong.broadcastreceiver">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ipdail.MainIp"
            android:label="@string/title_activity_main_ip"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".customize.MyBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="www.itcast.cn" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ipdail.OutCallReceiver">
            <intent-filter android:priority="200">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".customize.main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Boot.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".localbroadcastreceiver.local"></activity>
    </application>

</manifest>